@model Order

<form method="post" asp-action="Checkout">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Line1"></label>
        <input asp-for="Line1" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Line2"></label>
        <input asp-for="Line2" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Line3"></label>
        <input asp-for="Line3" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control">
    </div>
    <div class="form-group">
        <input asp-for="GiftWrap">
        <label asp-for="GiftWrap">Gift wrap these items.</label>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>