@model Product

<div class="display-6 text-center">
    <h3>@Model.ProductName</h3>
    <p>@Model.Price</p>
    <div class="img-fluid rounded-4 hover-shadow">
        <img width="400" src="@Model.ImageUrl">
    </div>
    <p class="text-danger">@Model.Summary</p>
</div>

