@model IEnumerable<Product>
<div class="row">
    <div class="col-md-3">@await Component.InvokeAsync("CategoriesMenu")</div>
    <div class="col-md-9">
        <div class="row">
            @foreach(Product prd in Model){
                <partial name="_ProductCard" model="prd"></partial>
            }
        </div>
    </div>
</div>