@page "/getintouch"

<div class="text-center border my-5">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p> text-primary my-3
            ALO 120 BTK AKADEMİ BİLGİ VE DESTEK HATTI 
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>Bilgi Teknolojileri Ve İletişim Kurumu Eskişehir Yolu 10.km
            No: 276 Posta Kodu: 06530 Çankaya/Ankara
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>destek@btkademi.gov.tr</p>
    </div>
</div>