@model IEnumerable<Product>

<div class="display-6 text-center">
    Showcase
</div>
<div class="row">
    @foreach(var prd in Model)
    {
        <partial name="_ProductCard" model="prd"></partial>
    }
</div>