<div id="u1" class="bg-image" style="background-image: url('/images/home2.jpg'); height: 100vh">
    <div id="t1">
        <table class="d-flex justify-content-center align-items-center table border table-striped table-hover ">
            <tr><td><a class="text-decoration-none text-white" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-user"></i> User login</a></td></tr>
            <tr><td><a class="text-decoration-none text-white" asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="fa-solid fa-user-pen"></i> Administrator login</a></td></tr>
        </table>
    </div>  
</div>

@{
    Layout = "_Layout3";
}